<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <iframe src="./navbar.html" onload="this.before((this.contentDocument.body||this.contentDocument).children[0]);this.remove()" width="100%" frameborder="0"></iframe>
    <div class="aboutus"  id="aboutus">
      <h1>Welcome to Department of Gymkhana</h1>

      <p>
      ⚫  Sports were a very distinctive feature of Walchand College from the establishment of
Walchand College. The college is known not only for academic excellence in engineering but
also known for excellent performance in sport. The function of the WCE Gymkhana
department is to provide the necessary environment for all-round development of the
individuals and make them truly good citizens.
</p>

      <p>
      ⚫  The WCE Gymkhana provides very good infrastructural facilities for indoor and outdoor
sport and related extra-curricular activities. Spacious playgrounds surrounded by scenic
greenery; jogging track and well-equipped gymnasiums are the attractions of the college. The
Gymkhana provides facilities in outdoor games like Cricket, Volleyball, Basketball, Football,
Kabbadi, Kho-Kho, Lawn tennis, Athletics (Running, Shot-put, Discus throw, Javelin throw
etc.) at the cricket ground. Facilities in indoor games like Badminton, Table-Tennis, Carom
and Chess are also made available to the students. Besides, indoor and outdoor games WCE
Gymkhana provides a separate facility of well-equipped fitness center for boys, girls as well
as to the college staff. Gymkhana provides facility of 800 meter jogging track for students
and college staff.

      </p>
      <p>
      ⚫  The WCE Gymkhana organizes various sport activities. Sport events like cricket,
badminton, volleyball, basketball, table-tennis, athletics etc. are held at college level. Nearly
2000 students participate in the selection process of various sport, in order to select the best
players to represent the College, at the Inter-Collegiate, District, State and National Level
Tournaments. Participation in sport keeps the students physically fit and develops the
sportsman spirit, which is very important to leave a happy life. 
      </p>

    <div class="images">
      <img src="/img/Microsoft Word - Gymkhana_StaffAdvisers_2021_22_ARS NEW(1) AJU - Google Chrome 25-09-2022 12_36_22.png" alt="">
      <img src="/Img/Dcup.jpg" alt="">
      <img src="/Img/Microsoft Word - Gymkhana_StaffAdvisers_2021_22_ARS NEW(1) AJU - Google Chrome 25-09-2022 12_35_29.png" alt="">
      <img src="/Img/20220917_112004.jpg" alt="">
    </div>
      
    </div>

    <div class="contactus" id="contactus">
      <h1>Contact Us</h1>
      <img src="./img/umbarkar.jpg" alt="" height="200px" width="200px"> <br>
      ⚫  Gymkhana Incharge <br>
       Dr. A. J. Umbarkar (9850644060),<br>
Mail ID: gykhana.incharge@walchandsangli.ac.in,<br>
 anant.umbarkar@walchandsangli.ac.in </br><br>

      <img src="./img/Bashir-Jamadar.jpg" alt=""><br>
      ⚫  Gymkhana Coordinator <br>
      Prof. B. N. Jamadar(9922495556),<br>
Mail ID: Mail ID: bashir.jamadar@walchandsangli.ac.in<br>
      
    </div>

    <footer>
      ©2022 Gymkhana. All Rights Reserved
      <br />
      <p style="font-size: 10px; margin-top: 55px; ">
        We use cookies to offer better online experiences. By visiting and using
        Price History, you consent to our use of cookies. Learn about your
        options, rights and more by reading our Terms & Conditions and Privacy
        Policy.
      </p>
      
    </footer>
  </body>
  
</html>
